ul{
    list-style-type: none;
}

li{
    display: inline;
    border: 1px solid black;
}

.navElement{
    color: white;
    margin-left: 10px;
    margin-right: 5px;
}

.contentHolder{
    position: relative; 
    display: block; 
    width: 100%; 
    height: 300px;
    margin-top: 50px;
}

.contentBoxLeft{
    width: 40%;
    height: 300px;
    border: 5px solid black;
    position: absolute;
    display: block;
    left: 0;
    border-radius: 5%;
}

.contentBoxRight{
    width: 40%;
    height: 300px;
    border: 5px solid black;
    position: absolute;
    display: block;
    right: 0;
    border-radius: 5%;
}


.contentBoxCenter{
    width: 40%;
    min-height: 300px;
    height: auto;
    border: 5px solid black;
    position: absolute;
    display: block;
    right: 30%;
    border-radius: 5%;
}

.verticalLine{
    
  border-left: 6px solid green;
  height: 500px;
}